.navbar {
    padding: 16px; 
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    z-index: 50; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.navRight {
    display: flex;
    align-items: center;
    gap: 16px; 
    position: absolute;
    top: 16px; 
    right: 24px;
  }
  
  
  .navRight a {
    list-style: none; 
    text-decoration: none; 
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navRight a:hover {
    color: #facc15; 
  }
  